@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #110c0c;
  padding: 15px;
  z-index: 99;
}

.logo {
  font-size: 25px;
  padding: 0 15px;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: scroll;
}

.menu-content::-webkit-scrollbar {
  display: none;
}

.menu-items {
  height: auto;
  width: 100%;
  list-style: none;
  transition: all 0.4s ease;
  padding-bottom: 485px;
}

.submenu-active .menu-items {
  transform: translateX(-56%);
  height: 826px;
}

.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
}

.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
  background: #110c0c;
  font-size: 16px;
}

.item i {
  font-size: 20px;
  padding-right: 10px;
}

.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}

.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
  background: #110c0c;
}

.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #110c0c;
  display: none;
}

.show-submenu~.submenu {
  display: block;
}

.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}

.submenu .menu-title i {
  margin-right: 10px;
}

.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}

.sidebar.close~.navbar,
.sidebar.close~.main {
  left: 0;
  width: 100%;
}

.navbar {
  position: fixed;
  height: 60px;
  color: #fff;
  padding: 15px 20px;
  font-size: 25px;
  background: #2f86f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar #sidebar-close {
  cursor: pointer;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 0;
  margin-top: 0px;
  width: 95%;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  background: #999999;
  margin: 0px;
}
.table-wrapper {
  overflow-y: auto;
  max-height: 400px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
}

.table th,
.table td {
  padding: 10px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 20px;
}

.table th.left-align,
.table td.left-align {
  text-align: left;
}

.table th.right-align,
.table td.right-align {
  text-align: right;
}

.table td {
  height: 90px;
}

.table thead {
  position: sticky;
  top : -1px;
  background-color: #a19f9f;
  z-index: 1;
}

.action-buttons {
  display: flex;
  padding-bottom: 10px;
}

.add-button {
  padding: 5px 5px;
  border: none;
  background-color: #2c9a04;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px;
  height: 40px;
  text-align: center;
}
.table td .action-buttons {
  width: 50%;
}
.table td .add-button {
  margin: 0 auto;
  display: block;
}
.add-button:hover {
  background-color: #3456c8;
}



a.delete-button {
  width: 100px;
  background-color: #bc1004;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

a.delete-button:hover {
  background-color: #6c0606;
}

.action-buttons #add-supp {
  display: flex;
  padding-bottom: 10px;
}
#add-supp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  border: none;
  background-color: #2c9a04;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5px;
  width: 70px;
  height: 50px;
}
#add-supp:hover {
  background-color: #3456c8;
}

.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: auto;
  min-width: 300px;
  max-width: 80%;
  height: auto;
  min-height: 200px;
  max-height: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.form-header {
  margin-bottom: 10px;
}


.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select,
.form-container input[type="date"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: solid;
  border-width: 1px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.cancel-button,
.submit-button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  flex-grow: 1;
  outline: none;
  border: none;

}
.popup-form#deleteConfirmation .button-container button {
  margin-right: 10px;
}

.cancel-button:hover {
  background-color: #6c0606;
}

.submit-button:hover {
  background-color: #3456c8;
}

.cancel-button {
  background-color: #bc1004;
  color: #fff;
  margin-right: 10px;
}

.submit-button {
  background-color: #2c9a04;
  color: #fff;
  margin-left: 10px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
}

.close-icon {
  cursor: pointer;
  font-size: 20px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.success-icon {
  font-size: 60px;
  color: green;
}

.success-text {
  text-align: center;
  margin-top: 10px;
}

.success-text p {
  margin-bottom: 20px;
}

.close-button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2c9a04;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #3456c8;
}

#print-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 20px;
}


.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
  margin: auto;
}

.user-name {
  color: #fff;
  font-size: 20px;
}
.user-icon {
  font-size: 20px;
  margin-right: 10px;
  color: #fff;
}
.form-group {
  margin-top: 10px;
}

.delete-button{
  border: none;
  background-color: #ff1b1bdc;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.batal-button{
  border: none;
  background-color: #ff1b1bdc;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  font-size: 25px;
}
a.edit-button {
  width: 100px;
  background-color: #1ba4ff;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
  border: none;
  margin-right: 20px;
}

.selesai-button{
  border: none;
  background-color: #188905;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 20px 25px;
  font-size: 25px;

}

a.delete-button,
a.edit-button{
    padding: 10px 20px;
}

a.delete-button-hover{
  background-color: #f02b2ba2;
}
a.edit-button:hover {
  background-color: #2b59f0;
}
.batal-button:hover{
  background-color: #f02b2ba2;
}
.selesai-button:hover{
  background-color: #92fa84a2;
}

.teksTipePembayaran{
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  position: relative;
  left: 5.66%;
  top:20px;
  bottom:50px;
}

.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-container input {
  position: relative;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #757575;
  border-radius: 5px;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid grey;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.radio-column {
  float: left;
  width: 50%;
  padding: 10px;
  top :40px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.item-kasir, .item-pembayaran, .item-cash, .item-table, .item-total, .item-button,
.item-kasir *, .item-pembayaran *, .item-cash *, .item-table *,.item-total *, .item-button *{
  box-sizing: border-box;
}
.teks_Kasir {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 80%;
  left: 5.66%;
  width: 10.15%;
  top: 27px;
}
.teks_tgl_transaksi {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 58.74%;
  left: 5.66%;
  width:35.61%;
  top: 60px;
}
.teks_Invoice {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  right: 80.2%;
  left: 5.66%;
  width: 14.14%;
  top: 92px;
}
.teks_edit_Nama {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  right: 15%;
  left: 62.73%;
  width: 21.63%;
  top : -65px;
}
.teks_edit_Invoice {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 11.48%;
  left: 61.73%;
  width: 26.79%;
  top: -30px;
}
.teks_edit_tgl {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.14%;
  left: 61.73%;
  width: 22.13%;
  top:0px;
}

.grid_container{
  display: grid;
  position: relative;
  grid-template-columns: 0.8fr 0.9fr 0.8fr;
  grid-template-rows: 0.5fr 0.6fr 1.8fr 0.6fr;
  gap: 5px 50px;
  top:10px
}
.grid_container * {
  position: relative;
}
.item-keranjang{
  grid-area:1 / 1 / 2 / 4;
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
}
.item-kasir{
  grid-area: 2 / 1 / 3 / 2;
  background: rgba(217, 217, 217, 0.2);
  width: 620px;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.item-pembayaran{
  grid-area:2 / 2 / 3 / 3;
  background: rgba(217, 217, 217, 0.2);
  width: 400px;
  height: 200px;
  position: relative;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.item-cash{
  grid-area: 2 / 3 / 3 / 4;
  background: rgba(217, 217, 217, 0.2);
  width: 340px;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.item-total{
  grid-area: 4 / 1 / 5 / 4;
  top:20px;
}
.item-button{
  grid-area: 4 / 3 / 5 / 4;
  top:20px;
  right:120px;
  align-items: right;
}
.item-table{
  grid-area: 3 / 1 / 4 / 4;
  margin-top: 20px;
  align-items: center;
}
.teksCashTitle{
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 78.55%;
  left: 3.93%;
  width: 17.52%;
  top: 70px;
}
.teksChange{
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 69.49%;
  left: 3.93%;
  width: 26.59%;
  top: 120px;
}
.teks_edit_change{
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  right: 33.84%;
  left: 34.44%;
  width: 31.72%;
  top: 120px;
}
.teksCash{
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  right: 78.55%;
  left: 3.02%;
  width: 18.43%;
  top: 20px;
}
.teksInputCash{
  background: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 204px;
  height: 37px;
  position: absolute;
  left: 114px;
  top: 70px;

}
.item-total {
  width: 478px;
  height: 40px;
  position: relative;
}
.total {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 192.24px;
  bottom: 0px;
  width: 285.76px;
  height: 40px;
  top:25px;
}
.teksTotal {
  color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 102.61px;
  height: 40px;
  top:25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selesai-button{
  width: 200px;
  height: 80px;
  left: 247px;
  background-color: #188905;
  position: absolute;
  top: 0;
  border-radius: 1px;
}
.batal-button {
  width: 202px;
  height: 80px;
  left: 0;
  background-color: #f53939;
  position: absolute;
  top: 0;
  border-radius: 1px;
}
